@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25em;
  margin: 2em;
  background-color: #dddddd;
}
.mainwrapper{
  margin: 0 auto;
  max-width: 900px;

}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  ul{
    display: none;
  }
}
li{
  margin: 0em;
  padding: 0.2em 0 0.2em 1em;
  border-left: 1px solid #ccc;
  position: relative;
  cursor: pointer;
}
header{
  margin-bottom: 1.5em;
  color: #777;
}
h2{
  font-size: 2.25em;
  font-weight: 300;
  margin: 0 0 0.3em;
}
h4{
  margin: 0;
  font-size: 1em;
  line-height: inherit;
  font-weight: 700;
}
h5{
  margin: 0;
  font-size: 1em;
  line-height: inherit;
  font-weight: 300;
}
h6{
  margin: 0;
  font-size: 1em;
  line-height: inherit;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0.5em;
}
p{margin: 0;}

.folder{
  padding: 0.7em 0 0.5em 1em;
}
.folderBtn{color: #005660;}
.file{
  &:hover{
    background: rgba(255, 255, 255, 0.4);
  }
  &:hover, &.active{
    &:after{
      display: block;
      position: absolute;
      top: 0.25em;
      left: -0.5em;
      width: 1em;
      height: 1em;
      line-height: 1.1em;
      text-align: center;
      content: 'i';
      color: #999;
      border: 1px solid #999;
      font-family: serif;;
      font-weight: bold;
      background-color: #fff;
      border-radius: 50%;
      font-style: italic;
    }
  }
  &.active{
    background: #fff;
    padding: 1em;
    margin-bottom: 0.5em;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    &:after{
      top: 1em;
    }
    &:hover{background: #fff;}
    h5{
      font-weight: 700;
      margin-bottom: 0.25em;
    }
  }
}
.fileInfo{
  display: none;
}
.filelist{
  display: block;
  list-style: square inside;
  margin-bottom: 1em;;
  li{
    border:none;
    padding-left: 0;
  }
}